<configuration>
  <packageSources>
    <add key="NuGetRepo" value="https://gustavopaggiatto.pkgs.visualstudio.com/_packaging/NuGetRepo/nuget/v3/index.json" />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceCredentials>
    <NuGetRepo>
      <add key="Username" value="gustavopaggiatto@gmail.com" />
      <add key="ClearTextPassword" value="ewwrkk4wjyxnx3p5iwxyxpw7ic3gfrlqhgsrnepunhvltd6qybka" />
    </NuGetRepo>
  </packageSourceCredentials>
</configuration>